<h1>Thy Cocktail</h1>
<p>*********************</p>
<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description + ", " + dose.ingredient.name %>
      <%= link_to "Delete a Recipe", cocktail_dose_path(@cocktail, dose), method: :delete %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a Recipe", new_cocktail_dose_path(@cocktail) %>
<p>*********************</p>
<%= link_to "Back to Cocktails", cocktails_path %>

